:root {
    --primary-color: #0d9488;
}

body {
    font-family: 'Inter', sans-serif;
    background-color: #f1f5f9;
}

.sidebar {
    background-color: #111827;
    min-height: 100vh;
    width: 260px;      /* <--- FIJA EL ANCHO */
    padding: 20px;
}

.nav-link {
    display: block;
    color: #cbd5e1;
    padding: 10px 14px;
    border-radius: 8px;
    transition: 0.2s ease;
}

.nav-link:hover {
    background-color: #1f2937;
}

.nav-link.active {
    background-color: #0d9488;
    color: white;
}
